# --- Bibliotecas de Comunicação gRPC ---
grpcio
grpcio-tools

# --- Bibliotecas de Visão Computacional (IA) ---
tensorflow

# OpenCV (Para pré-processamento de imagem, como redimensionamento e conversão de cores)
opencv-python

# NumPy (Dependência crucial para TensorFlow e OpenCV)
numpy
